.main-link {
    border-radius: 10px;
    display: inline-block;
    min-width: 158px;
    text-align: center;
    background-color: #AD1FEA;
    text-decoration: none;
    color: #F2F4FE;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 13px 0 11px;
}