.filed {
    display: flex;
    flex-direction: column;
    width: 456px;
}
.filed__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.194444px;
    color: #3A4374;
    margin-bottom: 2px;
}
.filed__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
    margin-bottom: 16px;
}
.filed__input {
    width: 100%;
    height: 48px;
    background-color: #F7F8FD;
    border-radius: 5px;
    border-color: transparent;
}