.inner {
    display: inline-block;
    padding: 8px;
    min-width: 13px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661E6;
    background-color: #F2F4FF;
    border-radius: 10px;
}