.main {
    display: flex;
    padding-top: 94px;
    padding-bottom: 129px;
    padding-left: 165px;
    padding-right: 165px;

}
.container {
    margin: 0 auto;
    width: 1440px;
}
.main__title {
    margin-right: 30px;
}