.comment-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 28px 32px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 825px;
    &:last-child {
        margin-bottom: 0;
    }
}
.comment-item__body {
    width: 374px;
    margin-left: 40px;
}
.commeny-item__nomber {
    width: 40px;
    padding: 14px 9px 9px;
    background-color: #F2F4FE;
    border-radius: 10px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.180556px;
    color: #3A4374;
    border: none;
}
.comment-item__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
    margin-bottom: 4px;
}
.comment-item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #647196;
    margin-bottom: 12px;
}
.comment-item__icon {
    margin-bottom: 8px;
}