.header {
    background-color: #373F68;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 16px;
    width: 825px;
    margin-bottom: 24px;
}
.header__content {
    display: flex;
    align-items: center;
}
.header__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    margin-left: 16px;
}
.header__link {
    border: none;
}
.header__sort {
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F2F4FE;
    mix-blend-mode: normal;
    opacity: 0.75;
    display: block;
    margin-left: 38px;
}